In [2]:
import pandas as pd

In [3]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citibike_data = pd.read_csv('citibike-tripdata.csv')

In [4]:
# 2. Check the datatypes of your columns. 
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 268.3+ MB

In [5]:
citibike_data.sample(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1816511,1224,2019-08-24 21:34:35.2310,2019-08-24 21:55:00.0550,3375.0,3 Ave & E 72 St,40.769943,-73.960607,3137.0,5 Ave & E 73 St,40.772828,-73.966853,31436,Subscriber,2002,1
134289,916,2019-08-02 16:11:55.1870,2019-08-02 16:27:11.8660,517.0,Pershing Square South,40.751581,-73.977910,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25702,Subscriber,1988,2
1199187,3470,2019-08-16 13:55:56.8100,2019-08-16 14:53:47.4870,3507.0,Park Ave & E 124 St,40.804555,-73.939686,3507.0,Park Ave & E 124 St,40.804555,-73.939686,14833,Customer,1969,0

In [6]:
# 3. Convert the 'tripduration' column to datetime datatype.
citibike_data.tripduration.head()

0     393
1     627
2    1132
3    1780
4    1517
Name: tripduration, dtype: int64

In [7]:
# 3b. Convert The "tripDuration" column to datetime datatype
citibike_data.tripduration = pd.to_datetime(citibike_data.tripduration, unit='m')

In [8]:
# 4. Check the datatypes of your columns. 
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 268.3+ MB

In [9]:
# 5. Export the Dataframe as a new CSV file without the index.
citibike_data.to_csv('citibike_tripdata.csv', index=False)

In [10]:
citibike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 06:33:00,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,1970-01-01 10:27:00,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1970-01-01 18:52:00,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1970-01-02 05:40:00,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1970-01-02 01:17:00,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2